# dependencies
node_modules

# build output
dist

# environment variables
.env

# prisma client
src/generated/prisma

# logs
logs
*.log

# invoices (PDFs are uploaded to Cloudinary, local files are temporary)
invoices/

# misc
.DS_Store
Thumbs.db
*.tsbuildinfo
